@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

 body {
    min-height: 250vh;
    background: linear-gradient(#020103, #192339);
    color: #fff;
    overflow-x: hidden; 
} 

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 103%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.logo-img {
  width: 90px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

@keyframes fly {
  from {
      left: 0%;
  }
  to {
      left: 100%;
  }
}

.fly-animation {
  animation: fly 1s linear forwards;
}



header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
   List-style: none;
   margin-Left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #6630be;
}


.horizontal-line {
    width: 55%; 
    height: 3px; 
    background-color: rgba(255, 255, 255, 0.6); 
    margin-left: 325px;
    margin-top: -60px;
    margin-bottom: 160px;
    opacity: 0;
}

.carousel {
    overflow: hidden; 
    display: flex;
    margin-left: 30px;
    height: 500px;
    justify-content: center; 
    align-items: center; 
}

.carousel-images {
    margin-left: -1000px;
    display: flex; 
width: 425px;
height: 375px; 
transition: transform 0.3s ease; 
}

.carousel-image {
    width: auto; 
    height: auto; 
    transition: transform 0.3s ease; 
    z-index: 1;
}

.carousel-image:hover {
    transform: scale(2); 
    z-index: 2;
}

@keyframes flicker {
    0% { opacity: 1; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}

h1 {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 60px;
    color: azure;
    text-align: center;
    white-space: pre;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    animation: flicker 3s infinite alternate;
}

.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle-image {
    filter: brightness(0.82);
    width: 275px;
    height: 275px;
    border-radius: 50%;
    overflow: hidden; 
    margin: 10px; 
    cursor: pointer; 
    top: 1000%; 
    transform: translateY(-50%); 
    animation: circleMovement 5s infinite alternate; 
}

@keyframes circleMovement {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-55%); 
    }
    100% {
        transform: translateY(-50%);
    }
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.horizontal-line2 {
    width: 55%; 
    height: 3px; 
    background-color: rgba(255, 255, 255, 0.6); 
    margin-left: 325px;
    margin-top: -120px;
 
    opacity: 0;
}

::-webkit-scrollbar {
    display: none;
}

.pinterest-grid {
    column-count: 4; 
    column-gap: 25px; 
    margin-top: 20px; 
}

.pinterest-grid img {
    width: 100%; 
    display: block;
    margin-bottom: 20px; 
    border-radius: 10px;
    
}

.pinterest-grid img.clicked {
    transform: scale(1.1); 
}

.More {
    text-align: center;
    color: azure;  
    white-space: pre;
 text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
 font-size: 35px;
 margin-right: 40px;
 margin-top: 15px;
}

.end{
    text-align: center;
    color: azure;  
    white-space: pre;
 text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
 font-size: 20px;
 margin-right: 40px;
 margin-top: -10px;
}

footer {
    position: absolute;
    bottom: -2358px;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #0d2142;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
  }
  
  .fa {
    color: white;
  }
  
  .footer-info, .social-media {
    flex: 1;
    color: #fff;
  }
  
  .footer-info {
    text-align: left; 
  }
  
  .social-media {
    text-align: right; 
  }
  
  .social-media ul {
    padding: 0;
    list-style: none;
  }
  
  .social-media img {
    width: 30px;
    height: 40px;
    margin-left: 30px;
  }