@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

 body {
    min-height: 450vh;
    background: linear-gradient(#020103, #192339);
    color: #fff;
    overflow-x: hidden; 
} 

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 103%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.logo-img {
  width: 90px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

@keyframes fly {
  from {
      left: 0%;
  }
  to {
      left: 100%;
  }
}

.fly-animation {
  animation: fly 1s linear forwards;
}



header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
   List-style: none;
   margin-Left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #6630be;
}

#rocketIMG {
    margin-top: 0px;
    margin-left: -60px;
    position: absolute;
    width: 1550px; 
   
}

.blur-line {
    position: absolute;
    width: 120%;
    height: 100px; /* Ширина лінії */
    background-color: rgb(8, 11, 18); /* Колір лінії з прозорістю */
    top: 115%; /* Позиція по вертикалі */
    filter: blur(20px); /* Заблюрення */
    z-index: 0; /* Перемістіть лінію під зображення */
}



#Rock {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 8.5vw;
    z-index: 9;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#tsrock {
    position: absolute;
    color: #fff;
    font-size: 2.5vw;
    z-index: 9;
    top: 33%;
    left: 5%;
    white-space: nowrap;
    overflow: hidden;
  }


  footer {
    position: absolute;
    bottom: -2800px;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #0a152e;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer-info, .social-media {
    flex: 1;
}

.social-media ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.social-media img {
    width: 30px;
    height: 40px;
    margin-left: 30px;
}

#USSpace {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 1150px;
    left: 20px;
    overflow: hidden;
    z-index: 1;
}

#USSpace2 {
    width: 1050px;
    height: auto;
    position: absolute;
    top: 1120px;
    left: -5px;
    overflow: hidden;
    z-index: 0;
    filter: blur(30px);
}

#Shuttle {
    font-size: 70px;
    position: absolute;
    top: 1000px;
    left: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}