@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

body {
    min-height: 250vh;
    background: linear-gradient(#000000, #000000);
    color: #ffffff;
    overflow-x: hidden; 
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 103%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.logo-img {
  width: 90px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

@keyframes fly {
  from {
      left: 0%;
  }
  to {
      left: 100%;
  }
}

.fly-animation {
  animation: fly 1s linear forwards;
}



header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
   List-style: none;
   margin-Left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #6630be;
}

#rocketIMG {
    margin-top: 0px;
    margin-left: -60px;
    position: absolute;
    width: 1550px; 
   
}

#Rock {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 8.5vw;
    z-index: 9;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#tsrock {
    position: absolute;
    color: #fff;
    font-size: 2.5vw;
    z-index: 9;
    top: 33%;
    left: 5%;
    white-space: nowrap;
    overflow: hidden;
  }

#sunriseIMG {
    width: 100%; 
    height: auto; 
    display: block; 
}

.flex-container {
    width: calc(100% - 40px); 
    max-width: 1000px; 
    margin: 0 auto;
    top: 0 px;
    width: 100%; 
    height: auto; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-box {
    flex: 1;
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 10px;
    width: calc(33.33% - 20px); 
    max-width: 400px; 
    height: 200px;
}

.text {
    font-size: 32px;
    
}

.arrow-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative; 
}

span{
    width: 10px;
    height: 40px;
    background:white;
    border-radius:5px;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;
  }
  
  span:nth-of-type(1){
    transform: rotate(-45deg);
  }
  
  span:nth-of-type(2){
    transform: rotate(45deg);
  }
  
  @keyframes move{
    0%{margin-top:0;}
    50%{margin-top:100px;}
    100%{margin-top:0;}
  }
#tranding .container {
    display: flex; 
    flex-wrap: nowrap;
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

#tranding .container::-webkit-scrollbar {
    display: none; 
}

#tranding .swiper-slide {
    flex: 0 0 auto; 
    margin-right: 1rem; 
}

#tranding .swiper {
    padding-bottom: 1rem;
}

#tranding .swiper-slide {
    flex: 0 0 300px; 
    height: 300px;
    margin-right: 1rem; 
}

.scroll-wrapper {
    width: 100%; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding-left: 40px;
    position: relative;
    flex: 1; 
}

.circle-container { 

    display: inline-flex; 
    justify-content: center; 
    margin-top: 100px; 
    position: relative;
}

.circle-image { 
    filter: brightness(0.82); 
    width: 275px; 
    height: 275px; 
    border-radius: 50%; 
    overflow: hidden;  
    margin: 10px;  
    cursor: pointer;  
    top: 1000%;  
    transform: translateY(-50%);  
    animation: circleMovement 5s infinite alternate;  
} 
 
@keyframes circleMovement { 
    0% { 
        transform: translateY(-50%); 
    } 
    50% { 
        transform: translateY(-55%);  
    } 
    100% { 
        transform: translateY(-50%); 
    } 
} 
 
.circle-image img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.scroll-buttons {
    position: absolute;
    top: 195%;
     transform: translateY(-50%); 
    /* left: 10px; */
    z-index: 999;
    display: flex;

}

.scroll-button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    font-size: 20px;
    margin-right: 1700%;
}

.tx
{
    color:#000000;
}
.app 
{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 2px auto 0;
    border-radius: 10px;
    padding: 30px;
    /* margin-top: -100px; */
}

.app h1
{
    font-weight: 25px;
    color: rgb(0, 0, 0);
    font-weight: 600px;
    border-radius: 1px solid #333;
    padding-bottom: 30px;
}

.quiz
{
    padding: 20px 0;
}
.quiz h2
{
    font-size: 18px;
    color:#000000;
    font-weight: 600;
}

.btn
{
    background: #fff;
    color:#000000;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled])
{
    background: #000000;
    color:#fff
}

.btn:disabled
{
    cursor: no-drop;
}

.next-button
{
    background: #6630be;
    color:#fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct
{
    background: #9aeabc;
}

.incorrect
{
    background: #ff9393;
}

footer {
    position: absolute;
    bottom: -1700px;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #214278;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
  }
  
  .fa {
    color: white;
  }
  
  .footer-info, .social-media {
    flex: 1;
    color: #fff;
  }
  
  .footer-info {
    text-align: left; 
  }
  
  .social-media {
    text-align: right; 
  }
  
  .social-media ul {
    padding: 0;
    list-style: none;
  }
  
  .social-media img {
    width: 30px;
    height: 40px;
    margin-left: 30px;
  }